<template>
  <v-layout align-start>
    <v-flex>
      <v-data-table
        :headers="headers"
        :items="persons"
        :search="search"
        class="elevation-1"
      >
        <template v-slot:item.ativo="{ item }">
          <samp class="green--text" v-if="item.ativo == 1"> Ativo</samp>
          <samp class="red--text" v-if="item.ativo == 0"> Desativado</samp>
        </template>

        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title>Usuario</v-toolbar-title>

            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>

            <v-text-field
              class="text-xs-center"
              v-model="search"
              label="Pesquisa"
              single-line
              hide-details
            ></v-text-field>

            <v-spacer></v-spacer>

            <v-dialog v-model="dialog" width="600">
              <template v-slot:activator="{ on }">
                <v-btn color="red lighten-2" dark v-on="on">
                  Cadastrar Setor
                </v-btn>
              </template>

              <v-card>
                <v-card-title class="headline grey lighten-2" primary-title>
                  Setores
                </v-card-title>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12 sm12 md12>
                      <v-text-field v-model="descricao" label="Setor" required>
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                </v-container>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" text @click="adicionar">
                    Cadastrar
                  </v-btn>

                  <v-btn color="primary" text @click="dialog = false">
                    Cancelar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-dialog v-model="adModal" max-width="400">
              <v-card>
                <v-card-title class="headline" v-if="adAccion == 2">
                  Desativar
                </v-card-title>
                <v-card-title class="headline" v-if="adAccion == 1">
                  Ativar
                </v-card-title>

                <v-card-text>
                  Deseja <span v-if="adAccion == 2">Desativar</span>
                  <span v-if="adAccion == 1"> Ativar</span> O Setor
                  {{ descricao }}
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn @click="encerrar()" color="green darken-1" text="text">
                    Cancelar
                  </v-btn>
                  <v-btn
                    v-if="adAccion == 1"
                    @click="activar()"
                    color="orange darken-4"
                    text="text"
                  >
                    Aceitar
                  </v-btn>

                  <v-btn
                    v-if="adAccion == 2"
                    @click="desactivar()"
                    color="orange darken-4"
                    text="text"
                  >
                    Aceitar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>

        <template v-slot:item.action="{ item }">
          <v-icon
            big
            class="mr-2"
            @click="activarEdicion(2, item)"
            v-if="item.ativo == 1"
          >
            mdi-account-off
          </v-icon>
          <v-icon big class="mr-2" @click="activarEdicion(1, item)" v-else>
            mdi-account
          </v-icon>
        </template>

        <template v-slot:no-data>
          <v-btn color="primary" @click="listar()">Recarregar</v-btn>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      calendario: "",
      observacaoSaida: "",
      dialog: false,
      search: "",
      persons: [],
      headers: [
        { text: "Opções", value: "action", sortable: false },
        { text: "Ativo", value: "ativo", sortable: false },
        { text: "descricao", value: "descricao", sortable: true }
      ],
      editedIndex: -1,

      ativo: "",
      descricao: "",

      adModal: 0,
      adAccion: 0,
      addescricao: "",
      adId: ""
    };
  },
  computed: {},
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  created() {
    this.listar(), this.selectCategoria();
  },
  methods: {
    listar() {
      let me = this;
      let header = { Token: this.$store.state.token };
      let configuration = { headers: header };
      axios
        .get("/setores/", configuration)
        .then(function(response) {
          me.persons = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    close() {
      this.limpar();
      this.dialog = false;
    },

    //**************************************************************** */

    activarEdicion(acao, item) {
      this.adModal = 1;
      this.addescricao = item.descricao;
      this.adId = item.id;

      if (acao == 1) {
        this.adAccion = 1;

        //alert('Ativar' + item.nome)
      } else if (acao == 2) {
        this.adAccion = 2;

        //alert('Desativar'+ item.nome)
      } else {
        this.adModal = 0;
        //console.log(item.id)
      }
      console.log(item.id);
    },
    encerrar() {
      this.adModal = 0;
    },
    activar() {
      let me = this;
      let header = { token: this.$store.state.token };
      let configuracion = { headers: header };
      this.axios
        .put(`/setores/activate/${this.adId}`, {}, configuracion)
        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.adId = "";
          me.listar();
          console.log(response);
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    desactivar() {
      let me = this;
      console.log(this.$store.state.token);
      let header = { token: me.$store.state.token };

      let configuracion = { headers: header };
      this.axios
        .put(`/setores/deactivate/${this.adId}`, {}, configuracion)

        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.addescricao = "";
          me.adId = "";
          me.listar();
          console.log(response);
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    adicionar() {
      let header = { Token: this.$store.state.token };
      let configuracion = { headers: header };

      if (this.$v.invalid) {
        return;
      }

      this.axios
        .post("/setores/", { descricao: this.descricao }, configuracion)
        .then(res => {
          //this.id = res.data.id
          this.listar();
          this.dialog = false;

          return res.data;
        })
        .catch(e => {
          console.log(e.response);
        });
    }

    //****************************************************************************** */
  }
};
</script>
