<template>
  <v-container fluid class="pa-0">
    <v-row align="center" style="
    margin-top: 240px;
">
      <v-col lg="6"   md="6" sm="12">
        <div class="text-center">
          <div class="my-2">
            <!-- 
            <v-btn
              x-large
              color="success"
              style="width: 321px;"
              dark
              link to="/"
              >Craga</v-btn

              

              
              <v-btn class="mx-3" fab dark large color="cyan">
      <v-icon dark>mdi-pencil</v-icon>Carga
    </v-btn>
    -->
            
            <v-btn rounded 
                   color="primary"
                   dark style="width: 240px; height: 50px;" link to="/">
                <v-icon dark style="margin-right: 11px;">mdi-folder-open</v-icon>
                    Carga
              </v-btn>
          </div>
        </div>
      </v-col>


        


      <v-col lg="6" md="6" sm="12">
        <div class="text-center">
          <div class="my-2">


            <v-btn rounded
                   color="primary"
                   dark
                   style="width: 240px;height: 50px;">
                   <v-icon dark style="margin-right: 11px;">mdi-folder-upload </v-icon>
                   Remesa</v-btn>
<!--
              <v-btn class="mx-3" fab dark large color="cyan">
      <v-icon dark>mdi-pencil</v-icon>Carga
    </v-btn>

              
            <v-btn
              x-large
              color="success"
              style="width: 321px;"
              dark
              >Remesa
              </v-btn>
                -->

          </div>
        </div>
      </v-col>
    </v-row>

    <v-row align="center" style="margin-top: 342px;">
      <v-col lg="4" md="4" sm="4" xs="12" align="center">
        <v-img src="../assets/jfpb.png"
        style="width: 130px;
               height: 100px;"
        justify="center" 
                   
        ></v-img>
      </v-col>

      <v-col lg="4" md="4" sm="4" xs="12" align="center">
        <v-img src="../assets/jfpb0.jpg"
         style="width: 100px;
               height: 100px;"
        justify="center" 
        > </v-img>
      </v-col>

      <v-col lg="4" md="4" sm="4" xs="12" align="center">
        <v-img src="../assets/50anos.png"
          style="width: 100px;
               height: 100px;" 
        justify="center"
        > </v-img>
      </v-col>
    </v-row>
  </v-container>
</template>
