<template >
  <div class="home">
    <h1></h1>
    <app-corpo ></app-corpo >
    
  </div>
  
</template>

<script>
import CorpoApp from '@/components/CorpoApp'

export default {
  name: 'Home',

  components: {
        'app-corpo': CorpoApp
    },
  
}
</script>
