<template>
  <v-card>
    <v-card-title>
      Processos
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Pesquisar"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table :headers="headers" :items="desserts" :search="search">
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      search: "",
      expanded: [],
      singleExpand: true,
      headers: [
        { text: "Numero do Processo", value: "documento" },
        { text: "Autor", value: "autor" },
        { text: "Reu", value: "reu" },
        { text: "Data Cadastro", value: "data_cadastro" },
        { text: "Volumes", value: "volumes" },
        { text: "Apensos", value: "apensos" }
      ],
      desserts: []
    };
  },
  created() {
    this.listaProcesso();
  },
  methods: {
    listaProcesso() {
      let header = { Token: this.$store.state.token };
      let configuracion = { headers: header };
      this.axios
        .get("/processos", configuracion)
        .then(res => {
          console.log(res.data);
          this.desserts = res.data;
          console.log("esteaqui " + this.desserts.length);
          for (let i in this.desserts) {
            this.desserts[i].data_cadastro = new Date(
              this.desserts[i].data_cadastro
            ).toLocaleDateString();
          }
        })
        .catch(e => {
          console.log(e);
        });
    }
  }
};
</script>
