<template>
  <v-layout align-start>
    <v-flex>
      <v-data-table
        :headers="headers"
        :items="persons"
        :search="search"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title>Processos</v-toolbar-title>

            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>

            <v-text-field
              class="text-xs-center"
              v-model="search"
              label="Pesquisa"
              single-line
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-select
              v-model="value"
              :items="items"
              label="Filtrar por"
              single-line
              hide-details
            ></v-select>

            <v-spacer></v-spacer>

            <!-- <v-btn color="blue darken-1" @click="vencidos()">Vencidos</v-btn>    
            <v-btn color="green" @click="emCargas()">EmCargas</v-btn> -->

            <v-dialog v-model="dialog" max-width="400px">
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="8">
                        <v-text-field
                          v-model="documento"
                          label="Documento"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="6" md="8">
                        <v-text-field
                          v-model="observacaoSaida"
                          label="Observação"
                        ></v-text-field>
                      </v-col>

                      <!-- <b-form-datepicker v-model="calendario" locale="pt-BR" label="Devolução"></b-form-datepicker> -->

                      <b-col md="auto">
                        <b-calendar
                          v-model="calendario"
                          locale="pt-BR"
                        ></b-calendar>
                      </b-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close"
                    >Cancelar</v-btn
                  >
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="salvar(id_movimentacoes)"
                    >Salvar</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>

        <template v-slot:item.action="{ item }">
          <v-icon
            v-if="item.data_devolucao == null"
            big
            class="mr-2"
            @click="editItem(item)"
          >
            mdi-folder
          </v-icon>
        </template>

        <template v-slot:no-data>
          <!-- <v-btn color="primary" @click="listar()">Recarregar</v-btn> -->
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      calendario: "",
      observacaoSaida: "",
      dialog: false,
      search: "",
      persons: [],
      headers: [
        { text: "Devolução", value: "action", sortable: false },
        { text: "ID", value: "id_movimentacoes", sortable: true },
        { text: "Advogado", value: "nome_advogado", sortable: true },
        { text: "Telefone", value: "telefone", sortable: false },
        { text: "Numero", value: "documento", sortable: true },
        {
          text: "Previsão Devolução",
          value: "data_previsao_devolucao",
          sortable: false
        },
        { text: "Devolução", value: "data_devolucao", sortable: false },
        { text: "Observação", value: "observacoes_devolucao", sortable: false }
      ],
      editedIndex: -1,
      id_movimentacoes: "",
      nome_advogado: "",
      oab: "",
      documento: "",
      data_previsao_devolucao: "",
      data_devolucao: "",
      observacoes_devolucao: "",
      situacao: "",
      telefone: "",
      items: ["Todos", "Expirados", "Em Carga"],
      value: ""
    };
  },
  computed: {
    formTitle() {
      // return this.editedIndex === -1 ? 'Novo Item' : 'Devolver Processo'
      return "Devolver Processo";
    }
  },
  watch: {
    dialog(val) {
      val || this.close();
    },

    /* eslint-disable no-unused-vars */
    value(newVal, oldVal) {
      switch (newVal) {
        case "Todos":
          this.listar();
          break;
        case "Expirados":
          this.vencidos();
          break;
        case "Em Carga":
          this.emCargas();
          break;
      }
    }
  },
  created() {
    this.listar();
  },
  methods: {
    listar() {
      let me = this;
      let header = { Token: this.$store.state.token };
      let configuration = { headers: header };
      let rota = "/movimentacoes";
      if (me.$store.state.usuario.papel != "super") {
        rota = `/movimentacoes/setor/${me.$store.state.usuario.setor}`;
      }
      axios
        .get(rota, configuration)
        .then(function(response) {
          me.persons = response.data;
          for (let i in me.persons) {
            me.persons[i].data_previsao_devolucao = new Date(
              me.persons[i].data_previsao_devolucao
            ).toLocaleDateString();
            if (me.persons[i].data_devolucao != null) {
              me.persons[i].data_devolucao = new Date(
                me.persons[i].data_devolucao
              ).toLocaleDateString();
            }
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    limpar() {
      this.calendario = "";
      this.observacaoSaida = "";
      this.editedIndex = -1;
    },
    salvar(id_movimentacoes) {
      let me = this;
      let header = { Token: this.$store.state.token };
      let configuration = { headers: header };

      if (this.editedIndex > -1) {
        console.log();
        axios
          .put(
            `movimentacoes/${id_movimentacoes}`,
            {
              // 'id_movimentacao': this.id_movimentacoes,
              data_devolucao: this.calendario,
              observacoes_devolucao: this.observacaoSaida,
              id: this.id_movimentacoes
            },
            configuration
          )
          .then(function() {
            me.limpar();
            me.close();
            me.listar();
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
    editItem(item) {
      (this.id_movimentacoes = item.id_movimentacoes),
        (this.documento = item.documento);
      (this.data_devolucao = item.data_devolucao),
        (this.observacoes_devolucao = item.observacoes_devolucao),
        (this.oab = item.oab),
        (this.dialog = true);
      this.editedIndex = 1;
    },
    close() {
      this.limpar();
      this.dialog = false;
    },
    vencidos() {
      let header = { Token: this.$store.state.token };
      let configuracion = { headers: header };
      let rota = "/movimentacoes/expirados";
      if (this.$store.state.usuario.papel != "super") {
        rota = `/movimentacoes/expirados/setor/${this.$store.state.usuario.setor}`;
      }
      this.axios
        .get(rota, configuracion)
        .then(res => {
          console.log(res.data);
          this.persons = res.data;
          for (let i in this.persons) {
            this.persons[i].data_previsao_devolucao = new Date(
              this.persons[i].data_previsao_devolucao
            ).toLocaleDateString();
            if (this.persons[i].data_devolucao != null) {
              this.persons[i].data_devolucao = new Date(
                this.persons[i].data_devolucao
              ).toLocaleDateString();
            }
          }
        })
        .catch(e => {
          console.log(e);
        });
    },
    emCargas() {
      let header = { Token: this.$store.state.token };
      let configuracion = { headers: header };
      let rota = "/movimentacoes/emCarga";
      if (this.$store.state.usuario.papel != "super") {
        rota = `/movimentacoes/emCarga/setor/${this.$store.state.usuario.setor}`;
      }
      this.axios
        .get(rota, configuracion)
        .then(res => {
          console.log(res.data);
          this.persons = res.data;
          console.log(this.persons);
          for (let i in this.persons) {
            this.persons[i].data_previsao_devolucao = new Date(
              this.persons[i].data_previsao_devolucao
            ).toLocaleDateString();
            if (this.persons[i].data_devolucao != null) {
              this.persons[i].data_devolucao = new Date(
                this.persons[i].data_devolucao
              ).toLocaleDateString();
            }
          }
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
};
</script>
