<template>

  <div>


     <v-btn
     class="mt=2"
      color="primary"
      dark
      @click.stop="dialog = true"
    >
      Entrar
    </v-btn>
  <v-container fluid>
    <v-row justify="space-around">
      <v-col cols="8" style="margin-top: 200px;">
     
       
        <v-img src="../assets/jfpb.png" aspect-ratio="1.7"></v-img>
        
      </v-col>




       <v-dialog
      v-model="dialog"
      max-width="700"
    >
      <v-card>
        <v-card-title class="headline"> Login</v-card-title>

        <v-card-text>
          
          <template>
              <v-layout align-center justify-center >
                <v-flex >
                  
                    
                    <v-card-text>
                      <v-form>
                        <v-text-field
                          v-model="name"
                          :error-messages="nameErrors"
                          label="Login"
                          required
                          @input="$v.name.$touch()"
                          @blur="$v.name.$touch()"
                          prepend-icon="mdi-account-key"
                          type="text"
                        ></v-text-field>
                        <v-text-field
                          v-model="email"
                          :error-messages="emailErrors"
                          label="Password"
                          name="password"
                          required
                          @input="$v.email.$touch()"
                          prepend-icon="mdi-lock-open"
                          type="password"
                        />
                      </v-form>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer />

                      <v-flex class="red--text" v-if="errorLogin">
                        {{ errorLogin }}
                      </v-flex>
                      <v-btn color="primary" @click="submit">Entrar</v-btn>
                    </v-card-actions>
                  
                </v-flex>
              </v-layout>
            </template>



        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

      

      
    </v-row>

    
  </v-container>

 
    
  </div>


  

</template>



<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

  export default {
     mixins: [validationMixin],

      validations: {
        name: { required },
        email: { required }
      },

    data () {
      return {
        dialog: false,
        name: "",
        email: "",
        errorLogin: null

      }
    },
    computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;

      !this.$v.name.required && errors.push("Name is required.");
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;

      !this.$v.email.required && errors.push("E-mail is required");
      return errors;
    },
    
  },
   methods: {
    submit() {
      this.axios
        .post("usuarios/login", { username: this.name, password: this.email })
        .then(res => {
          // console.log(res.data.usuario);
          // console.log(res.data.token);
          // console.log("Funciona")
          return res.data;
        })
        .then(data => {
          this.$store.dispatch("guardarToken", data.token);
          this.$store.dispatch("mostrarUsuario", data.usuario);
          this.$router.push({ name: "CargaRemesa" });
          console.log("cHEGOU AQUI");
        })
        .catch(errorLogin => {
          console.log(errorLogin);
          console.log("cHEGOU ERRO");
          this.errorLogin = null;
          if (errorLogin.response.status == 400) {
            this.errorLogin = "Usuario não encontrado ou Senha incorreta !!";
          } else {
            this.errorLogin = "Erro no Servidor !!";
          }
        });
    }
   }


  }
</script>