<template>
  <div>
    <!-- **** Formulario Pesquisar Advogado **** -->
    <form v-if="!cadastar">
      <v-text-field
        v-model="itemAdvogado.oab"
        :error-messages="oabErrors"
        v-mask="['#####-##']"
        label="NUMERO DA OAB"
        required
        @input="$v.itemAdvogado.oab.$touch()"
        @blur="$v.itemAdvogado.oab.$touch()"
        prepend-icon="mdi-apps-box"
      ></v-text-field>
      <v-btn class="mr-4" color="primary" @click="submit">
        Pesquisar
        <v-icon right dark>mdi-magnify</v-icon>
      </v-btn>
    </form>
    <!-- **** Formulario Pesquisar Advogado **** -->

    <!-- **** Formulario Cadastrar Processo **** -->

    <form v-if="cadastar">
      <v-text-field
        v-model="itemAdvogado.oab"
        :error-messages="oabErrors"
        label="NUMERO DA OAB"
        required
        @input="$v.itemAdvogado.oab.$touch()"
        @blur="$v.itemAdvogado.oab.$touch()"
        prepend-icon="mdi-apps-box"
      ></v-text-field>

      <v-text-field
        v-model="itemAdvogado.nome"
        :error-messages="nomeErrors"
        label="NOME"
        required
        @input="$v.itemAdvogado.nome.$touch()"
        @blur="$v.itemAdvogado.nome.$touch()"
        prepend-icon="mdi-account-tie"
      ></v-text-field>

      <v-text-field
        v-model="itemAdvogado.endereco"
        :error-messages="enderecoErrors"
        label="ENDEREÇO"
        required
        @input="$v.itemAdvogado.endereco.$touch()"
        @blur="$v.itemAdvogado.endereco.$touch()"
        prepend-icon="mdi-home-account"
      ></v-text-field>

      <v-text-field
        v-model="itemAdvogado.telefone"
        :error-messages="telefoneErrors"
        v-mask="['(##) ####-####', '(##) #####-####']"
        label="TELEFONE"
        required
        @input="$v.itemAdvogado.telefone.$touch()"
        @blur="$v.itemAdvogado.telefone.$touch()"
        prepend-icon="mdi-phone-classic"
      ></v-text-field>

      <v-text-field
        v-model="itemAdvogado.email"
        :error-messages="emailErrors"
        label="E-MAIL"
        required
        @input="$v.itemAdvogado.email.$touch()"
        @blur="$v.itemAdvogado.email.$touch()"
        prepend-icon="mdi-gmail"
      ></v-text-field>

      <v-btn class="mr-4" color="primary" @click="adicionar">
        Proximo
        <v-icon right dark>mdi-arrow-right-bold-box</v-icon>
      </v-btn>

       <v-btn class="mr-2" color="error" @click="cancelar">
        Cancelar
        <v-icon right dark>mdi-close-circle</v-icon>
      </v-btn>
    </form>

    <!-- **** Formulario Cadastrar Processo **** -->
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],

  validations: {
    itemAdvogado: {
      oab: { required },
      nome: { required },
      endereco: { required },
      telefone: { required },
      email: { required }
    }
  },

  data() {
    return {
      cadastar: false,
      contador: 2,
      id: "",

      itemAdvogado: {
        oab: "",
        nome: "",
        endereco: "",
        telefone: "",
        email: ""
      }
    };
  },

  computed: {
    oabErrors() {
      const errors = [];
      if (!this.$v.itemAdvogado.oab.$dirty) return errors;
      !this.$v.itemAdvogado.oab.required &&
        errors.push("Numero da OAB é required.");
      return errors;
    },
    nomeErrors() {
      const errors = [];
      if (!this.$v.itemAdvogado.nome.$dirty) return errors;

      !this.$v.itemAdvogado.nome.required && errors.push("Nome é required.");
      return errors;
    },
    enderecoErrors() {
      const errors = [];
      if (!this.$v.itemAdvogado.endereco.$dirty) return errors;
      !this.$v.itemAdvogado.endereco.required &&
        errors.push("Endereço é required.");
      return errors;
    },
    telefoneErrors() {
      const errors = [];
      if (!this.$v.itemAdvogado.telefone.$dirty) return errors;
      !this.$v.itemAdvogado.telefone.required &&
        errors.push("Numero do Telefone é required.");
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.itemAdvogado.email.$dirty) return errors;
      !this.$v.itemAdvogado.email.required && errors.push("E-mail é required.");
      return errors;
    }
  },

  methods: {
    submit() {
      let header = { Token: this.$store.state.token };
      let configuracion = { headers: header };
      if (this.$v.itemAdvogado.oab.required) {
        this.cadastar = true;
      }
      this.$v.$touch();

      this.axios
        .get(`/advogados/oab/${this.itemAdvogado.oab}`, configuracion)
        .then(res => {
          this.itemAdvogado.oab = res.data.oab;
          this.itemAdvogado.nome = res.data.nome;
          this.itemAdvogado.endereco = res.data.endereco;
          this.itemAdvogado.telefone = res.data.telefone;
          this.itemAdvogado.email = res.data.email;
          this.id = res.data.id;
          this.$emit("idAdvogado", this.id, configuracion);
        })
        .catch(e => {
          console.log(e.response);
        });
    },

    adicionar() {
      let header = { Token: this.$store.state.token };
      let configuracion = { headers: header };

      if (this.$v.$invalid) {
        return;
      }
      this.$v.$touch();
      this.contador++;
      this.$emit("contador", this.contador);
      this.$emit("nomeAdvogado", this.itemAdvogado.nome);

      this.axios
        .post("/advogados/", this.itemAdvogado, configuracion)
        .then(res => {
          if (this.id === "") {
            this.id = res.data.id;
            this.$emit("idAdvogado", this.id);
            console.log(this.id);
          }
        })
        .catch(e => {
          console.log(e.response);
        });
    },
    cancelar(){
      this.$router.go({
            path: "/home",
            force: true
          });
    }
  }
};
</script>
