<template>
  <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step :complete="e1 > 1" step="1"
        >VERIFICAR PROCESSO
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 2" step="2"
        >VERIFICAR ADVOGADO:</v-stepper-step
      >

      <v-divider></v-divider>

      <v-stepper-step step="3">CONTROLE DE CARGA</v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
        <v-card>
          <v-container>
            <v-row no-gutters justify="center">
              <v-col lg="10">
                <v-card class="pa-2" outlined tile>
                  <!--#######FORMULARIO  PROCESSO-->

                  <app-processo
                    @contador="e1 = $event"
                    @envnome="documento1 = $event"
                    @idprocesso="itemCarga.processo = $event"
                  ></app-processo>

                  <!-- ######### FORMULARIO PROCESSO-->
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-stepper-content>

      <v-stepper-content step="2">
        <v-card>
          <v-container>
            <v-row no-gutters justify="center">
              <v-col lg="10">
                <v-card class="pa-2" outlined tile>
                  <!--#######FORMULARIO  ADVOGADO-->

                  <app-advogado
                    @contador="e1 = $event"
                    @nomeAdvogado="nomeadvogado = $event"
                    @idAdvogado="itemCarga.responsavel = $event"
                  ></app-advogado>

                  <!-- ######### FORMULARIO ADVOGADO-->
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-stepper-content>

      <v-stepper-content step="3">
        <v-card>
          <v-container>
            <v-row no-gutters justify="center">
              <v-col lg="10">
                <v-card class="pa-2" outlined tile>
                  <!--#######FORMULARIO  ADVOGADO-->

                  <form>
                    <v-text-field
                      v-model="documento1"
                      label="NUMERO DO PROCESSO"
                      disabled
                    ></v-text-field>

                    <v-text-field
                      v-model="nomeadvogado"
                      label="NOME RESPONSAVEL"
                      disabled
                    ></v-text-field>

                    <!-- <v-text-field
                            v-model="j"
                            
                           
                            label="DATA Cadastro"
                            required
                           
                            ></v-text-field> -->
                    <!-- 
                            <v-text-field
                            v-model="itemCarga.data_saida"
                            
                           
                            label="DATA Saida"
                            required
                           
                            ></v-text-field> -->
                    <p>Data Cadastro</p>
                    <b-form-datepicker
                      v-model="itemCarga.data_cadastro"
                      class="mb-2"
                    ></b-form-datepicker>
                    <p>Data Saida</p>
                    <b-form-datepicker
                      v-model="itemCarga.data_saida"
                      class="mb-2"
                    ></b-form-datepicker>
                    <p>Previsao Devolucao</p>
                    <b-form-datepicker
                      v-model="itemCarga.data_previsao_devolucao"
                      class="mb-2"
                    ></b-form-datepicker>

                    <!-- <v-text-field
                            v-model="itemCarga.data_previsao_devolucao"
                            
                            label="Data Devolução"
                            required
                            
                            ></v-text-field> -->

                    <v-text-field
                      v-model="itemCarga.observacoes_saida"
                      label="Observações"
                      required
                    ></v-text-field>
                    <v-btn class="mr-4" color="success" dark @click="adicionar">
                      Cadastrar
                      <v-icon right dark
                        >mdi-checkbox-multiple-marked-outline</v-icon
                      >
                    </v-btn>

                    <v-btn class="mr-2" color="error" @click="cancelar">
                      Cancelar
                      <v-icon right dark>mdi-close-circle</v-icon>
                    </v-btn>
                  </form>

                  <!-- ######### FORMULARIO ADVOGADO-->
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { validationMixin } from "vuelidate";
import processo from "@/components/Processo";
import advogado from "@/components/Advogado";

export default {
  mixins: [validationMixin],

  validations: {
    itemProcesso: {
      data_saida: { required },
      data_previsao_devolucao: { required }
    }
  },
  data() {
    return {
      e1: 1,

      documento1: "",
      nomeadvogado: "",
      idprocesso: "",
      idadv: "",
      j: "",

      itemCarga: {
        data_cadastro: this.j,
        data_saida: "",
        data_previsao_devolucao: "",
        processo: "",
        cadastrado_por: this.$store.state.usuario.id,
        responsavel: "",
        observacoes_saida: ""
      }
    };
  },
  computed: {
    data_saidaErrors() {
      const errors = [];
      if (!this.$v.itemProcesso.documento.$dirty) return errors;

      !this.$v.itemProcesso.documento.required &&
        errors.push("Numero do documento é required.");
      return errors;
    }
  },
  components: {
    "app-processo": processo,
    "app-advogado": advogado
  },
  methods: {
    adicionar() {
      this.j
        .split("/")
        .reverse()
        .join("-");

      let header = { Token: this.$store.state.token };
      let configuracion = { headers: header };

      this.axios
        .post(
          "http://10.102.16.166:3000/api/movimentacoes/",
          this.itemCarga,
          configuracion
        )
        .then(res => {
          //this.id = res.data.id
          this.$router.go({
            path: "/listaProcesso",
            force: true
          });
          return res.data;
        })
        .catch(e => {
          console.log(e.response);
        });
    },
    cancelar(){
      this.$router.go({
            path: "/home",
            force: true
          });
    }
  }
};
</script>
