<template>



  <div>
    <!-- **** Formulario Pesquisar Processo ****
    
    <form @submit.prevent="addProcesso()" v-if="!cadastar">
      <v-text-field
        v-model="itemProcesso.documento"
        :error-messages="documentoErrors"
        v-mask="['#######-##.####.#.##.####', '####.##.##.##.##.######']"
        label="NUMERO DO DOCUMENTO"
        required
        @input="$v.itemProcesso.documento.$touch()"
        @blur="$v.itemProcesso.documento.$touch()"
        prepend-icon="mdi-folder"
      ></v-text-field>

      <v-btn class="mr-4" color="primary" @click="submit">
        Pesquisar
        <v-icon right dark>mdi-magnify</v-icon>
      </v-btn>
    </form>
     -->
    <!-- **** Formulario Pesquisar Processo **** -->

    <!-- **** Formulario Cadastrar Processo **** 

    <form v-if="cadastar">
      <v-text-field
        v-model="itemProcesso.documento"
        :error-messages="documentoErrors"
        v-mask="['#######-##.####.#.##.####', '####.##.##.##.##.######']"
        label="NUMERO DO DOCUMENTO"
        required
        @input="$v.itemProcesso.documento.$touch()"
        @blur="$v.itemProcesso.documento.$touch()"
        prepend-icon="mdi-folder"
      ></v-text-field>

      <v-text-field
        v-model="itemProcesso.autor"
        :error-messages="autorErrors"
        label="AUTOR"
        required
        @input="$v.itemProcesso.autor.$touch()"
        @blur="$v.itemProcesso.autor.$touch()"
        prepend-icon="mdi-account-tie"
      ></v-text-field>

      <v-text-field
        v-model="itemProcesso.reu"
        :error-messages="reuErrors"
        label="REU"
        required
        @input="$v.itemProcesso.reu.$touch()"
        @blur="$v.itemProcesso.reu.$touch()"
        prepend-icon="mdi-account-tie-voice"
      ></v-text-field>

      <v-text-field
        v-model="itemProcesso.classe"
        :error-messages="classeErrors"
        label="CLASSE"
        required
        @input="$v.itemProcesso.classe.$touch()"
        @blur="$v.itemProcesso.classe.$touch()"
        prepend-icon="mdi-shield-check"
      ></v-text-field>

      <v-text-field
        v-model="itemProcesso.volumes"
        :error-messages="volumesErrors"
        label="VOLUME"
        type="number"
        required
        @input="$v.itemProcesso.volumes.$touch()"
        @blur="$v.itemProcesso.volumes.$touch()"
        prepend-icon="mdi-file-replace"
      ></v-text-field>

      <v-text-field
        v-model="itemProcesso.apensos"
        :error-messages="apensosErrors"
        label="APENSO"
        type="number"
        required
        @input="$v.itemProcesso.apensos.$touch()"
        @blur="$v.itemProcesso.apensos.$touch()"
        prepend-icon="mdi-file"
      ></v-text-field>

      <v-btn class="mr-4" color="primary" @click="adicionar">
        Proximo
        <v-icon right dark>mdi-arrow-right-bold-box</v-icon>
      </v-btn>

      <v-btn class="mr-2" color="error" @click="cancelar">
        Cancelar
        <v-icon right dark>mdi-close-circle</v-icon>
      </v-btn>
    </form>
    -->

    <!-- **** Formulario Cadastrar Processo 
    **** -->


  <v-card>
    <v-card-title class="headline font-weight-regular blue-grey white--text">Profile</v-card-title>
    <v-card-text>
      <v-subheader class="pa-0">Where do you live?</v-subheader>
      <v-autocomplete
        v-model="model"
        :hint="!isEditing ? 'Click the icon to edit' : 'Click the icon to save'"
        :items="states"
        :readonly="!isEditing"
        :label="`State — ${isEditing ? 'Editable' : 'Readonly'}`"
        persistent-hint
        prepend-icon="mdi-city"
      >
        <template v-slot:append-outer>
          <v-slide-x-reverse-transition
            mode="out-in"
          >
            <v-icon
              :key="`icon-${isEditing}`"
              :color="isEditing ? 'success' : 'info'"
              @click="isEditing = !isEditing"
              v-text="isEditing ? 'mdi-check-outline' : 'mdi-circle-edit-outline'"
            ></v-icon>
          </v-slide-x-reverse-transition>
        </template>
      </v-autocomplete>
    </v-card-text>
  </v-card>


  </div>
  
</template>



<script>
  export default {
    data () {
      return {
        isEditing: false,
        model: null,
        states: [
         
         
          
        ],
        x:[]
       

        
      }
    },
     created() {
    this.listar();
    
    },

    methods: {
     listar() {
      let me = this;
       
     
      
      let header = { Token: this.$store.state.token };
      let configuration = { headers: header };
      this.axios
        .get("/processos/", configuration)
        .then(function(response) {
          me.states = response.data;
         
          
          console.log(me.states)
           
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    
  }
  }
</script>

<!-- 
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],

  validations: {
    itemProcesso: {
      documento: { required },
      autor: { required },
      reu: { required },
      classe: { required },
      volumes: { required },
      apensos: { required }
    }
  },

  data() {
    return {
      cadastar: false,
      contador: 1,
      idproc: "",
      processos: [],
      itemProcesso: {
        documento: "",
        autor: "",
        reu: "",
        classe: "",
        volumes: "",
        apensos: "0"
      }
    };
  },

  computed: {
    documentoErrors() {
      const errors = [];
      if (!this.$v.itemProcesso.documento.$dirty) return errors;

      !this.$v.itemProcesso.documento.required &&
        errors.push("Numero do documento é requerido.");
      return errors;
    },
    autorErrors() {
      const errors = [];
      if (!this.$v.itemProcesso.autor.$dirty) return errors;

      !this.$v.itemProcesso.autor.required &&
        errors.push("Nome do autor é requerido.");
      return errors;
    },
    reuErrors() {
      const errors = [];
      if (!this.$v.itemProcesso.reu.$dirty) return errors;

      !this.$v.itemProcesso.reu.required &&
        errors.push("Nome do réu é requerido.");
      return errors;
    },
    classeErrors() {
      const errors = [];
      if (!this.$v.itemProcesso.classe.$dirty) return errors;

      !this.$v.itemProcesso.classe.required &&
        errors.push("Nome da Classe é requerido.");
      return errors;
    },
    volumesErrors() {
      const errors = [];
      if (!this.$v.itemProcesso.volumes.$dirty) return errors;

      !this.$v.itemProcesso.volumes.required &&
        errors.push("Numero de Volume é requerido.");
      return errors;
    },
    apensosErrors() {
      const errors = [];
      if (!this.$v.itemProcesso.apensos.$dirty) return errors;

      !this.$v.itemProcesso.apensos.required &&
        errors.push("apenso é requerido.");
      return errors;
    }
  },

  methods: {
    submit() {
      let header = { Token: this.$store.state.token };
      let configuracion = { headers: header };

      if (this.$v.itemProcesso.documento.required) {
        this.cadastar = true;
      }
      this.$v.$touch();

      this.axios
        .get(
          `/processos/documento/${this.itemProcesso.documento}`,
          configuracion
        )
        .then(res => {
          this.processos = res.data
          this.itemProcesso.documento = res.data.documento;
          this.itemProcesso.autor = res.data.autor;
          this.itemProcesso.reu = res.data.reu;
          this.itemProcesso.classe = res.data.classe;
          this.itemProcesso.volumes = res.data.volumes;
          this.itemProcesso.apensos = res.data.apensos;
          this.idproc = res.data.id;
          this.$emit("idprocesso", this.idproc);
        })
        .catch(e => {
          console.log(e.response);
        });
    },
    adicionar() {
      let header = { Token: this.$store.state.token };
      let configuracion = { headers: header };

      if (this.$v.$invalid) {
        return;
      }

      this.$v.$touch();

      this.contador++;
      this.$emit("contador", this.contador);
      this.$emit("envnome", this.itemProcesso.documento);

      this.axios
        .post("/processos/", this.itemProcesso, configuracion)
        .then(res => {
          if (this.idproc === "") {
            this.idproc = res.data.id;
            this.$emit("idprocesso", this.idproc);
            console.log(this.idproc);
          }
        })
        .catch(e => {
          console.log(e.response);
        });
    },
    cancelar(){
      this.$router.go({
            path: "/home",
            force: true
          });
    }
  }
};
</script>
-->