<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app v-if="logado">
      <v-list dense>
        

        <v-list-item link to="/cargaRemesa" v-if="admin || usuario || superusuario">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Inicio</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/cadastrarUsuario" v-if="admin || superusuario">
          <v-list-item-action>
            <v-icon>mdi-account-plus</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Cadastrar Usuario</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        
        <v-list-item
          link
          to="/cadastrarSetor"
          v-if="admin || superusuario"
        >
          <v-list-item-action>
            <v-icon>mdi-book-plus-multiple</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Setores</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item
          link
          to="/listaProcesso"
          v-if="admin || usuario || superusuario"
        >
          <v-list-item-action>
            <v-icon>mdi-file-document-edit</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Listar Processo</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item
          link
          to="/listaMovimentacao"
          v-if="admin || usuario || superusuario"
        >
          <v-list-item-action>
            <v-icon>mdi-file-document-edit</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Listar Movimentações</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/login" @click="sair">
          <v-list-item-action>
            <v-icon>mdi-power-settings</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Sair</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link @click.stop="drawer = !drawer">
          <v-list-item-action>
            <v-icon>mdi-arrow-collapse-left</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title> Fechar</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="indigo" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>Controle de Movimentações de Cargas</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn flat color="indigo" v-if="logado" link to="/login" @click="sair">
        <span> Sair</span>
        <v-icon right>mdi-exit-to-app</v-icon>
      </v-btn>
    </v-app-bar>

    <v-footer color="indigo" app>
      <span class="white--text">&copy; 2020</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  props: {
    source: String
  },
  data() {
    return {
      drawer: true
    };
  },
  computed: {
    logado() {
      return this.$store.state.usuario;
    },
    admin() {
      return (
        this.$store.state.usuario && this.$store.state.usuario.papel == "admin"
      );
    },
    superusuario() {
      return (
        this.$store.state.usuario && this.$store.state.usuario.papel == "super"
      );
    },
    usuario() {
      return (
        this.$store.state.usuario &&
        this.$store.state.usuario.papel == "usuario"
      );
    }
  },
  created() {
    this.$store.dispatch("autoLogin");
  },
  methods: {
    sair() {
      this.$store.dispatch("sair");
    }
  }
};
</script>
