<template>
  <v-app>
    <v-content>
      <router-view></router-view>
    </v-content>
    <TelaPrincipal style="position: absolute;" />
  </v-app>
</template>

<script>
import TelaPrincipal from "@/components/TelaPrincipal";
export default {
  name: "App",

  components: {
    TelaPrincipal
  },
  data() {
    return {};
  }
};
</script>
